.wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.inputSearch {
    flex: 1;
    border: 1px solid #bbb;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.searchButton {
    background-color: black;
    color: white;
    width: 190px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
