.chartsTitle {
    font-weight: bold;
    font-size: 20px;
}

.charts {
    margin: 50px 0;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
}

.chartsTitle {
    margin-bottom: 20px;
}
