.wrapper {
    width: 1400px;
    overflow-x: hidden;
}

.generalInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContainer {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.mainImageContainer {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
}

.mainImage {
    max-width: 80%;
    height: 95%;
    object-fit: contain;
    margin: auto;
}

.subImageContainer {
    display: flex;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.subImage {
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    flex: 1;
    margin: 12px;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

.infoDetail {
    flex: 1;
}

.productName {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
}

.sku {
    margin: auto 50px;
}

.productDescription {
    margin-top: 20px;
    font-size: 19px;
    opacity: 0.6;
}

.productAmount {
    display: flex;
    flex-direction: row;
}

.productPrice {
    color: #e23600;
    font-size: 28px;
    margin: 6px 0;
}

.starRating {
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    --width: 300px;
    --height: 50px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
    margin: auto;
}

.textButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonWrapper,
.textButton,
.iconButton {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.textButton {
    top: 0;
}

.textButton,
.iconButton {
    transition: top 0.5s;
}

.iconButton {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #222;
}

.button:hover .textButton {
    top: -100%;
}

.button:hover .iconButton {
    top: 0;
}

.highlightContainer {
    margin-top: 100px;
    width: 100%;
}

.highlightTitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

.highlightContent {
    margin: 12px 0;
    font-size: 20px;
    text-align: justify;
}

.highlightImage {
    width: 100%;
    height: auto;
}

.reviewCotainer {
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toast {
    padding: 10px;
}

.toastBody {
    font-size: 14px;
    font-weight: bold;
}
