.content {
    margin: 30px;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #d9d9d9;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #d9d9d9;
}

.action {
    font-size: 24px;
}

.statusPrepared {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 234);
}

.statusDelivered {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 110, 255);
}

.statusCompleted {
    font-size: 20px;
    font-weight: bold;
    color: rgb(6, 179, 29);
}

.statusCancel {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.actionStatus {
    margin-top: 12px;
    font-size: 30px;
    display: flex;
    cursor: pointer;
}
