.wrapper {
    width: 100%;
    min-height: 100px;
}

.mainTitle {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

.table {
    width: 100%;
}

.title {
    font-size: 18px;
    width: 30%;
    padding: 6px;
    padding-left: 40px;
}

.content {
    font-size: 18px;
    padding: 6px;
}
