.wrapper {
    margin-left: -70px;
    width: 1535px;
    height: 50px;
    background-color: #f1f1f1;
    padding-left: 70px;
    display: flex;
}

.title {
    opacity: 60%;
    color: #000;
    margin: auto 0;
}
